@model IEnumerable<dto.Model.AccountBase>
@{
    ViewData["Title"] = "Accueil";
}

<div class="container">
  <div class="row">

        @if(this.Model != null)
        {
        <div class="col-12 col-md-6 col-lg-4">
            <h2>Vos avoirs</h2>
            <span>@($"{ViewBag.TotalBalance:0.00} €")</span>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <h2>Comptes</h2>
            <div>
                <div class="table100">
                    @foreach(var acc in Model)
                    {
                        <div class="table-row">
                            <div class="table-cell">
                                <a asp-controller="Accounts" asp-action="Transactions" asp-route-id="@acc.Id">@acc.Name</a>
                            </div>
                            <div class="table-cell">@($"{acc.Balance:0.00} €")</div>
                        </div>
                    }
                </div>
                <span class="little">Mis à jour @($"{ViewBag.Updated:g}")</span>
            </div>
        </div>
        } else {
            <a asp-controller="Home" asp-action="Login">Connexion</a>
        }
    </div>
</div>
