@model AccountTransactionsModel
@{
    ViewData["Title"] = $"{Model.Details.Name} (transactions)";
}

<div class="container">

    <h2>@Model.Details.Name</h2>
    <span class="little">@Model.Details.Number</span>

    <div class="col-12">
        <div>
        <div class="row">
            <div class="col table-header">Date</div>
            <div class="col table-header">Caption</div>
            <div class="col table-header">Amount</div>
            <div class="col table-header">Balance</div>
        </div>

        @foreach(var acc in Model.Transactions)
        {
            <div class="row">
                <div class="col">@acc.Date</div>
                <div class="col">@acc.Tags.SingleOrDefault(t => t.TypeKey == "payee")?.Caption (@acc.Caption)</div>
                <div class="col">@acc.Amount €</div>
                <div class="col"><span class="trx-balance @(acc.Balance > 0 ? "positive" : "negative")">@acc.Balance €</span></div>
            </div>
        }
        </div>
    </div>
</div>